// $icon-font-path: "/fonts/";
@import "bootstrap";
@import "font-awesome";

$glucose-color: #fd8d25;
$basal-color: #50aff4;
$bolus-color: #fed939;
$other-history-event: #fd8d25;
$warning-color: #d53e50;
$success-color: #00bb27;
$reference-color: #50aff4;
$other-relative-event: #fed939;
$metadata-color: #999;

.glucose-event, .history-event {
    border: 2px solid white;
    margin-top: 7px;

    .show-bar {
        background-color: $metadata-color;
        font-family: "Lucida Console", Monaco, monospace;
        padding: 7px 10px;
        font-size: 1.2em;
        text-align: right;
        font-weight: bolder;
    }

    .info-box {
        border-color: $metadata-color;
        border: 2px solid;
        border-width: 0px 1px 1px 1px;
        padding: 7px 10px;
        font-size: 1.2em;

        .timestamp {
            font-size: 0.8em;
            color: #AAAAAA;
        }
    }
}

.history-event-cal_bg_for_ph, .history-event-bg_received {
    .show-bar {
        background-color: $other-history-event;
    }

    .info-box {
        border-color: $other-history-event;
    }
}

.history-event-pump_suspend, .history-event-alarm_sensor {
    .show-bar {
        background-color: $warning-color;
    }

    .info-box {
        border-color: $warning-color;
    }
}

.history-event-pump_resume {
    .show-bar {
        background-color: $success-color;
    }

    .info-box {
        border-color: $success-color;
    }
}

.history-event-bolus_normal,
.history-event-bolus_wizard_estimate,
.history-event-change_bolus_wizard_setup,
.history-event-unabsorbed_insulin {
    .show-bar {
        background-color: $bolus-color;
    }

    .info-box {
        border-color: $bolus-color;
    }
}

.history-event-temp_basal, .history-event-temp_basal_duration {
    .show-bar {
        background-color: $basal-color;
    }

    .info-box {
        border-color: $basal-color;
    }
}

.glucose-event-sensor_glucose_value {
    .show-bar {
        background-color: $glucose-color;
    }

    .info-box {
        border-color: $glucose-color;
    }
}

.glucose-event-sensor_timestamp {
    .show-bar {
        background-color: $reference-color;
    }

    .info-box {
        border-color: $reference-color;
    }
}

.glucose-event-sensor_error,
.glucose-event-sensor_data_high,
.glucose-event-sensor_data_low {
    .show-bar {
        background-color: $warning-color;
    }

    .info-box {
        border-color: $warning-color;
    }
}

.glucose-event-sensor_weak_signal,
.glucose-event-sensor_calibration,
.glucose-event-sensor_packet {
    .show-bar {
        background-color: $other-relative-event;
    }

    .info-box {
        border-color: $other-relative-event;
    }
}
