// $icon-font-path: "/fonts/";
@import "bootstrap";
@import "font-awesome";

$glucose-color: #fd8d25;
$warning-color: #d53e50;
$reference-color: #50aff4;
$metadata-color: #999;

.glucose-event {
    border: 2px solid white;
    margin-top: 7px;

    .show-bar {
        background-color: $metadata-color;
        font-family: "Lucida Console", Monaco, monospace;
        padding: 7px 10px;
        font-size: 1.2em;
        text-align: right;
        font-weight: bolder;
    }

    .info-box {
        border-color: $metadata-color;
        border: 2px solid;
        border-width: 0px 1px 1px 1px;
        padding: 7px 10px;
        font-size: 1.2em;

        .timestamp {
            font-size: 0.8em;
            color: #AAAAAA;
        }
    }
}

.glucose-event-sensor_glucose_value {
    .show-bar {
        background-color: $glucose-color;
    }

    .info-box {
        border-color: $glucose-color;
    }
}

.glucose-event-sensor_timestamp {
    .show-bar {
        background-color: $reference-color;
    }

    .info-box {
        border-color: $reference-color;
    }
}

.glucose-event-sensor_data_low {
    .show-bar {
        background-color: $warning-color;
    }

    .info-box {
        border-color: $warning-color;
    }
}

.glucose-event-cal_bg_for_gh,
.glucose-event-unknown,
.glucose-event-null_byte,
.glucose-event-sensor_status,
.glucose-event-sensor_sync,
.glucose-event-data_end,
.glucose-event-nineteen_something,
.glucose-event-ten_something,
.glucose-event-sensor_calibration_factor {
}
